.userHead {
    border-radius: 50%;
    position: absolute;
}
.image-component{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
@media only screen and (max-width: 680px){
    .userHead {
        display: none;
    }


}