@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");

:root {
  --font: "Nunito", sans-serif;
}

main {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-side {
  width: 60%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.ball {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #ffcb13;
  position: absolute;
  left: 5px;
  top: 40%;
}
.ball-two {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid #000000;
  position: absolute;
  left: 0;
  background-color: transparent;
  top: 42%;
}

.vektor-top {
  width: 42px;
  height: 41.5px;
  border: 4px solid #000000;
  border-right: #ffffff;
  border-bottom: #ffffff;
  border-top-left-radius: 10px;
}
.vektor-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.vektor-bottom {
  width: 42px;
  height: 41.5px;
  border: 4px solid #000000;
  border-top: #ffffff;
  border-left: #ffffff;
  border-bottom-right-radius: 10px;
}
.content {
  padding: 10px;
  margin-left: 50px;
}
h1 {
  max-width: 480px;
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
}
h2 {
  font-family: var(--font);
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 48px;
  color: #5b44f3;
}
.paraf {
  font-family: var(--font);
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.content-button {
  font-family: var(--font);
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  background: #5b44f3;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
@media only screen and (max-width: 680px) {
    main{
      display: block;
      width: 100%;
    }
    .ball-two{
      display: none;
      
    }
    .ball{
      display: none;
    }
    .vektor-top{
      display: none;
    }
    .vektor-container{
      display: none;
    }
   .left-side{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
    }
    
  h1 {
    width: 100%;
  }

}
