.Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
}

.logo {
  font-size: 18px;
  line-height: 23px;
  max-width: 80px;
}
ul  {
  display: flex;
  min-width:  300px;
  justify-content: space-between;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #adadad;
  line-height: 15px;
}
ul li a:hover {
  color: #000000;
}

.btn-group button {
  font-weight: 400;
  font-size: 14px;
  padding: 10px 20px;
  cursor: pointer;
  list-style: 18px
}
.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.outline {
  border: 1px solid #000000;
  border-radius: 2px;
}
.solid {
  color: #ffffff;
  background-color: #000000;
  border-radius: 2px;
  border: 1px solid #000000;
}
/* hover effect */
/* .outline:hover {
    background-color: #5B44F3;
    border-color: transparent;
    color: #FFFFFF;
}
.solid:hover {
    background-color: #5B44F3;
    border-color: transparent;
    color: #FFFFFF;
} */
@media only screen and (max-width: 680px) {
  .Header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  ul {
      margin-top: 20px;
  }
  .btn-group {
      margin-top: 20px;
  }
}
