.userContent-İnteraction {
  width: 70%;
  height: 100%;
  display: flex;
}
.interaction-head {
  font-size: 36px;
  line-height: 45px;
  font-weight: 400;
  width: 500px;
  height: 90px;
}
.right-box {
  position: absolute;
  bottom: 0;
  right: 0;
}
.interaction-card {
  width: 410px;
  height: 205px;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(204, 204, 204, 0.25);
  border-radius: 10px;
 
}
.interaction-card p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
}
.left-top-corner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 20px;
}

.right-bottom-corner {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.contentBox-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.contentBox-paraf {
    width: 80%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  color: #5b44f3;
}
.animation {
  width: 95px;
  border: 2px solid  #5b44f3;
  border-radius: 50%;
  position: absolute;
  height: 95px;
  bottom: 250px;
  right: 700px;
  animation-name: upDown;
  animation-duration: 2.5s;
  animation-iteration-count:infinite ;
}
@keyframes upDown {
  0% {
    transform: translateY(0);
    transform: rotate(0);
  }
  25% {
    transform: translateY(40px);
    transform: rotate(20deg);
    
  }
  50% {
    transform: translateX(80px);
  }
  75% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 680px){
  .userContent-İnteraction {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .interaction-head {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    
  }
  .right-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

  }

}
